{% extends 'layout.html.twig' %}

{% block title %}
    Buscar Vuelo
{% endblock %}

{% block content %}

    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-md-7 col-sm-8 col-lg-5 center-horizontal">
                <!--Header-->
                <div class="header pt-3 grey lighten-2">

                    <div class="row d-flex justify-content-start">
                        <h5 class="deep-grey-text mt-1 mb-2 pb-1 mx-5"> Buscar Vuelo </h5>
                    </div>

                </div>
                <!--Header-->

                <div class="card card-body">
                    <form id="patientSaveForm" method="POST" action="?action=listar_vuelos">

                        <div class="md-form">
                            <i class="fa fa-indent prefix grey-text"></i>
                            <select class="search-select" name="ciudad_origen" id="ciudad_origen" required>
                                {% for ciudad in ciudades %}
                                    <option value="{{ ciudad.id }}" {% if ciudad.name == ciudad_seleccionada %} selected {% endif %}>{{ ciudad.name }}</option>
                                {% endfor %}
                            </select>
                            <label for="ciudad_origen" class="active"> Ciudad Origen </label>
                        </div>
						
						<div class="md-form">
                            <i class="fa fa-indent prefix grey-text"></i>
                            <select class="search-select" name="ciudad_destino" id="ciudad_destino" required>
                                {% for ciudad in ciudades %}
                                    <option value="{{ ciudad.id }}" {% if ciudad.name == ciudad_seleccionada %} selected {% endif %}>{{ ciudad.name }}</option>
                                {% endfor %}
                            </select>
                            <label for="ciudad_destino" class="active"> Ciudad Destino </label>
                        </div>

                        <div class="md-form">
                            <i class="fa fa-calendar-plus-o prefix grey-text"></i>
                            <input name="fecha_desde" type="date" id="fecha_desde" class="form-control"
                                   value="{{ fecha_desde }}" required>
                            <label for="fecha_desde" class="active">Fecha Desde </label>
                        </div>
						
                        <div class="text-center">
                            <button class="btn btn-primary"> Buscar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{% endblock %}
