{% extends 'layout.html.twig' %}
{% block title %}
    Listar Carrito
{% endblock %}
{% block content %}
    <div class="container pt-5">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 center-horizontal">
                <form method="post" action="">
                  <h3>Carrito de Compras</h3>
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Servicio</th>
                          <th>Descipción</th>
                          <th>Precio Total</th>
                          <th>Eliminar</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for  detalle in carrito %}
                        <tr>
                          <td id="servicio">{{ detalle.type }}</td>
                          <td id="description">{{ detalle.descripcion }}</td>
                          <td id="price">{{ detalle.total }}</td>
						  <td><a href="index.php?action=eliminar_servicio_carrito&cart_id={{detalle.cart_id}}&type={{ detalle.type }}&id_servicio={{detalle.id_servicio}}">Eliminar</a></td>
					    </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
				  <td><a href="index.php?action=pagar_carrito&cart_id={{ cart_id }}">CHECK OUT ***</a></td>
				  <td> Items : {{ items }}</td>
                  <td> Importe Total a Pagar $ : {{ imp_total }}</td>
				  </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}
