{% extends 'layout.html.twig' %}

{% block title %}
    Listar Vuelos
{% endblock %}

{% block content %}
    <div class="card card-cascade narrower">
        <h4 class="d-flex justify-content-center mt-3 mb-3"> Listado de Asientos </h4>
    </div>
    <div class="table-wrapper table-responsive">
        <!--Table-->
        <table class="table table-hover mb-0">

            <!--Table head-->
            <thead>
            <tr>
				<th class="th-lg">#<i class="ml-1"></i></th>
                <th class="th-lg">Número <i class="ml-1"></i></th>
                <th class="th-lg">Clase<i class="ml-1"></i></th>
                <th class="th-lg">Precio<i class="ml-1"></i></th>
                <th class="th-lg">Aerolínea<i class="ml-1"></i></th>
                <th class="text-center">Mas informacion<i class="ml-1"></i></th>
            </tr>
            </thead>
            <!--Table head-->

            <!--Table body-->
            <tbody>
            {% for vuelo in vuelos %}
                <tr>
                    <td id="id_seat">{{ vuelo.id_seat }}</td>
                    <td id="number">{{ vuelo.number }}</td>
                    <td id="class">{{ vuelo.class }}</td>
                    <td id="price">{{ vuelo.price }}</td>
                    <td id="nombre_aerolinea">{{ vuelo.nombre_aerolinea }}</td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <form method="POST" action="?action=vuelo_show" class="d-inline">
                                <input type="hidden" name="id_seat" value="{{ vuelo.id_seat }}">
                                <button type="submit"
                                        class="btn btn-primary btn-sm px-2 waves-effect waves-light btn-action"
                                        title="Ver información del Pasaje"
                                        id="toggleButton"
                                        value="{{ vuelo.id_seat }}">
                                    <i class="fa fa-info mt-0"></i>
                                </button>
                            </form>

                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <!--Table body-->
        </table>
        <!--Table-->
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}