{% extends 'layout.html.twig' %}

{% block title %}
    Listar Automóviles
{% endblock %}

{% block content %}
    <div class="card card-cascade narrower">
        <h4 class="d-flex justify-content-center mt-3 mb-3"> Listado de Automóviles </h4>
    </div>
    <div class="table-wrapper table-responsive">
        <!--Table-->
        <table class="table table-hover mb-0">

            <!--Table head-->
            <thead>
            <tr>
                <th class="th-lg">Fuel<i class="ml-1"></i></th>
                <th class="th-lg">Descipción<i class="ml-1"></i></th>
                <th class="th-lg">Precio<i class="ml-1"></i></th>
                <th class="th-lg">Slots<i class="ml-1"></i></th>
                <th class="th-lg">Ciudad<i class="ml-1"></i></th>
                <th class="th-lg">Concesionaria<i class="ml-1"></i></th>
                <th class="text-center">Mas informacion<i class="ml-1"></i></th>
            </tr>
            </thead>
            <!--Table head-->

            <!--Table body-->
            <tbody>
            {% for automovil in automoviles %}
                <tr>
                    <td id="fuel">{{ automovil.fuel }}</td>
                    <td id="description">{{ automovil.description }}</td>
                    <td id="price">{{ automovil.price }}</td>
                    <td id="slots">{{ automovil.slots }}</td>
                    <td id="ciudad_name">{{ automovil.ciudad_name }}</td>
                    <td id="concessionaire_name">{{ automovil.concessionaire_name }}</td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <form method="POST" action="?action=automovil_show" class="d-inline">
                                <input type="hidden" name="id" value="{{ automovil.id }}">
                                <button type="submit"
                                        class="btn btn-primary btn-sm px-2 waves-effect waves-light btn-action"
                                        title="Ver información del automóvil"
                                        id="toggleButton"
                                        value="{{ automovil.id }}">
                                    <i class="fa fa-info mt-0"></i>
                                </button>
                            </form>

                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <!--Table body-->
        </table>
        <!--Table-->
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}